*{
margin:0;
padding:0;
font-family:italic;
}
.banner{
	width:100%;
	height:100%;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpeg);
	background-size:cover;
	background-position:center;
}
.navbar{
	width:85%;
	margin:auto;
	padding:35px,0;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.logo{
	width:120px;
	cursor:pointer;
}
.navbar ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	position:relative;
}
.navbar ul li a{
	text-decoration:none;
	color:#fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content:'';
	height:3px;
	width:0%;
	background:yellow;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
	
}
.navbar ul li:hover::after{
	width:100%;
	
}
.content{
	width:100%;
	position:absolute;
	top:50%;
	text-align:center;
	color:#fff;
	
}
.content h1{
	font-size:70px;
	margin-top:5px;
}
.content h3{
	font-size:20px;
	margin-top:5px;
}
.content p{
	margin:20px auto;
	font-weight:100;
	line-height:25px;
}

.content1{
	width:100%;
	position:absolute;
	top:40%;
	text-align:center;
	color:#fff;
	
}
.content1 h1{
	font-size:70px;
	margin-top:-100px;
}
.content1 li{
	margin:20px auto;
	font-weight:100;
	line-height:25px;
}


.navbar1{
	width:65%;
	margin:auto;
	padding:35px,0;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.navbar1 li{
	list-style:none;
	display:inline-block;
	margin:30 20px;
	position:relative;
}
.navbar1 li a{
	text-decoration:none;
	color:#fff;
	text-transform: uppercase;
}

.navbar1 li::after{
	content:'';
	height:3px;
	width:0%;
	background:yellow;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
	
}
.navbar1 li:hover::after{
	width:100%;
	
}
button{
	width:100px;
	padding:15px 0;
	text-align:center;
	margin:30px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid yellow;
	background:transparent;
	color:#fff;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}

button:hover span{
	width:100%;
}
button:hover{
	border:none;
}
button a{
	text-decoration:none;
	color:#fff;
	text-transform: uppercase;
}
